@import url('https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400;0,500;0,700;0,800;1,400;1,500;1,700;1,800&display=swap');

body {
    font-family: "Alegreya", sans-serif;
    }

/* Sets the root element font size */
 html {
     font-size: 18px;
}

nav .brand-logo {
    font-size: 1.8rem;
}

.referee-image {
    border-radius: 1.5rem;
}

.flash-messages  {
    line-height: 2;
    color: white;
}

.btn-small {
    margin: 0.5rem;
}