
{% extends "base.html" %}
{% block content %}

<section class="container">

    <h5 class="center-align deep-purple-text darken-1">My Reports</h5>
    	<div class="col s12">
             <p>
		    <img src="{{ url_for('static', filename='images/referee-blue.jpg') }}" class="responsive-img referee-image" alt="">
            </p>
        </div>

</section>

<ul class="collapsible popout">
	{% for report in reports %}
            <li>
		<div class="collapsible-header white-text deep-purple darken-1">
			<i class="fas fa-arrow-circle-down"></i>
			<strong>{{ report.report_fixture }}<br>
                {{ report.report_date }}</strong>
		</div>
		<div class="collapsible-body">
		    Match Type: {{ report.match_type }}<br>
		    Referee Name: {{ report.referee_name }}<br>
            Score: {{ report.report_score }}<br>
            Goalscorers: {{ report.report_scorers }}<br>
            Cautions: {{ report.report_cautions }}<br>
            Dismissals: {{ report.report_dismissals }}<br>
			<p> Match Report: {{ report.report_report }}</p><br>
            <div class="center-align">
                <a href="{{ url_for('edit_report', report_id=report._id) }}" class="btn-small center-align deep-purple darken-1">Edit Report</a>
                <a href="" class="btn-small center-align red darken-3">Delete Report</a>
            </div>
            <p><em>Submitted by: {{ report.created_by }}</em></p>
		</div>
	</li>
    {% endfor %}
</ul>

{% endblock %}