{% extends "base.html" %}
{% block content %}

<section class="container">

<h5 class="center-align indigo-text text-darken-4">Register</h5>
    <!-- Main Image-->
	<div class="col s12">
        <p>
		<img src="{{ url_for('static', filename='images/referee-fifa.jpg') }}" class="responsive-img referee-image" alt="">
        </p>
    </div>

</section>
<!-- Register button-->
<div class="row">
	<div class="col s12 center">
		<button data-target="modal1" class="btn modal-trigger indigo darken-4">Register for an Account</button>
	</div>
</div>
<!-- Modal taken from https://materializecss.com/modals.html -->
<div id="modal1" class="modal">
	<div class="modal-content light-blue lighten-5">
		<form method="POST" action="{{ url_for('register') }}">
        	<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-plus prefix indigo-text text-darken-1"></i>
					<input id="firstname" name="firstname" type="text" class="validate" required>
					<label for="firstname">First Name</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-plus prefix indigo-text text-darken-1"></i>
					<input id="lastname" name="lastname" type="text" class="validate" required>
					<label for="lastname">Last Name</label>
				</div>
			</div>
			<div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-plus prefix indigo-text text-darken-1"></i>
					<input id="username" name="username" type="text" minlength="5"
                    maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$"  class="validate" required>
					<label for="username">Username</label>
				</div>
			</div>
            <div class="row">
				<div class="input-field col s12">
					<i class="fas fa-user-lock prefix indigo-text text-darken-1"></i>
					<input id="password" name="password" type="password" minlength="5"
                    maxlength="20" pattern="^[a-zA-Z0-9]{5,20}$"  class="validate" required>
					<label for="password">Password</label>
				</div>
			</div>
            <!-- Register Button -->
            <div class="row">
                <button type="submit" class="col s12 btn-large indigo darken-4">
                    Register <i class="fas fa-sign-in-alt"></i>
                </button>
            </div>
		</form>
	</div>
</div>
<!-- Link back to log in page-->
<div class="row">
    <div class="col s12">
        <p class="center-align">
            Already have an account? 
            <a href="{{ url_for('login') }}" class="indigo-text text-darken-1">Log In</a>
        </p>
    </div>
</div>


{% endblock %}