{% extends "base.html" %}
{% block content %}

<section class="container">

    <h3 class="center-align deep-purple-text darken-1">My Reports</h3>
    	<div class="col s12">
             <p>
		    <img src="{{ url_for('static', filename='images/referee-players.jpg') }}" class="responsive-img referee-image" alt="">
            </p>
        </div>

</section>

       

           <!-- {% for report in reports %}
        {{ report.match_type }}<br>
        {{ report.referee_name }}<br>
        {{ report.report_date }}<br>
        {{ report.report_fixture }}<br>
        {{ report.report_score }}<br>
        {{ report.report_scorers }}<br>
        {{ report.report_cautions }}<br>
        {{ report.report_dismissals }}<br>
        {{ report.report_report }}<br>
    {% endfor %} -->
<ul class="collapsible popout">
	{% for report in reports %}
	<li>
		<div class="collapsible-header white-text deep-purple darken-1">
			<i class="fas fa-arrow-circle-down"></i>
			<strong>{{ report.report_fixture }}<br>
                {{ report.report_date }}</strong>
		</div>
		<div class="collapsible-body">
		    Match Type: {{ report.match_type }}<br>
		    Referee Name: {{ report.referee_name }}<br>
            Score: {{ report.report_score }}<br>
            Goalscorers: {{ report.report_scorers }}<br>
            Cautions: {{ report.report_cautions }}<br>
            Dismissals: {{ report.report_dismissals }}<br>
			<p> Match Report: {{ report.report_report }}</p><br>
		</div>
	</li>
	{% endfor %}
</ul>

{% endblock %}