{% extends "base.html" %}
{% block content %}

<section class="container">
	<h5 class="center-align deep-purple-text darken-1">My Reports</h5>
	<!-- Main Image-->
	<div class="col s12">
		<p>
			<img src="{{ url_for('static', filename='images/referee-players.jpg') }}" class="responsive-img referee-image" alt="">
        </p>
	</div>

</section>
<!-- Accordion taken from https://materializecss.com/collapsible.html-->
<ul class="collapsible popout">
	{% for report in reports %}
	{% if session.user|lower == report.created_by|lower %}
	<li>
		<div class="collapsible-header white-text deep-purple darken-1">
			<i class="fas fa-arrow-circle-down"></i>
			<strong>{{ report.report_fixture }}<br>
                {{ report.report_date }}</strong>
		</div>
		<div class="collapsible-body">
			Match Type: {{ report.match_type }}<br>
		    Referee Name: {{ report.referee_name }}<br>
            Score: {{ report.report_score }}<br>
            Goalscorers: {{ report.report_scorers }}<br>
            Cautions: {{ report.report_cautions }}<br>
            Dismissals: {{ report.report_dismissals }}<br>
			<p> Match Report: {{ report.report_report }}</p><br>
            <!-- Edit and Delete Buttons-->
			<div class="center-align">
				<a href="{{ url_for('edit_report', report_id=report._id) }}"
					class="btn-small center-align deep-purple darken-1">Edit Report</a>
				<button data-target="modal3" class="btn-small modal-trigger red darken-3">Delete Report</button>
			</div>
			<p><em>Submitted by: {{ report.created_by }}</em></p>
		</div>
        <!-- Modal to check if the report should be deleted-->
		<div id="modal3" class="modal">
			<div class="modal-content">
				<div class="row">
					<div class="col s12 center-align">
						<h5 class=>Are you sure you want to delete this report?</h5>
					</div>
				</div>
				<div class="row">
					<div class="col s12 center-align">
						<a href="{{ url_for('delete_report', report_id=report._id) }}"
							class="modal-close btn-small red darken-3">Delete Report</a>
					</div>
				</div>
			</div>
		</div>
	</li>
	{% endif %}
	{% endfor %}
</ul>

{% endblock %}